# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# SQLite database files
*.sqlite

# Coverage directory
coverage/

# Build artifacts
dist/
build/

# IDE or Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store

# Temporary files
tmp/
temp/
